@value mediaQuery from '/src/common/size.css';
@value makerGreen, makerBorderColor from '/src/common/colors.css';

.editor {
  flex-basis: 50%;
  height: 100%;
  border-right: 2px solid makerBorderColor;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.editor::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.title {
  width: 100%;
  text-align: center;
  color: makerGreen;
}

@media screen and (max-width: mediaQuery) {
  .editor {
    flex-basis: 100%;
    border-bottom: 2px solid makerBorderColor;
    border-right: none;
  }
}
