@value makerWhite from '/src/common/colors.css';
@value mediaQuery from '/src/common/size.css';

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  position: relative;
  background-color: makerWhite;
}

.maker {
  background-color: makerWhite;
  display: flex;
  overflow: auto;
}
.maker::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@media screen and (max-width: mediaQuery) {
  .maker {
    /* flex-direction: column; */
  }
}
